/* for ostvytsya-store css code */
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.3;
  width: 100%;
  color: #222222;
  font-size: 18px;
  background-color: white;
}
h3 {font-size: 18px; }

.black_ost      { color:#222222 }
.dark-grey_ost  { color:#3A3A3A }
.halfdark-grey_ost  { color:#666666 }
.grey_ost       { color:#999999 }
.light-grey_ost { color:#E4E4E4 }
.light2-grey_ost{ color:#efefef }
.green3_ost     { color:#026251 }
.green1_ost     { color:#74908B }
.green2_ost     { color:#273A37 }
.green4_ost     { color:#15803d }
.dark_blue_ost  { color: #024574 }
.red1_ost       { color:#dc2626 }

.page {
    max-width:1440px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 60px auto 160px;  
    grid-template-columns: 250px auto;
    grid-template-areas: "left-side-cell header-cell" 
                         "left-side-cell content-cell"
                         "footer-cell footer-cell";
  }
  
  .left-side-cell {
    grid-area: left-side-cell;
  }
  .left-side{
    background-color: white;
  }
  .left-side #logo{
    text-align: left;
  }
   /*  -------------------     HEADER      ---------------------  */
   #logo { margin: 0; }
  .header-cell {
    grid-area: header-cell;
  }
  header{
    height:60px;
    background-color: white;
    border-bottom: 1px solid #E4E4E4;
  }
  .list-inline-item:not(:last-child){ margin-right: 20px;}
  .div_like-small-button{
    width:30px;
    height:30px;
    border-radius:15px;
    transition: all 0.3s;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    color: #222222;
    fill: #222222;
    stroke: none;
  }
  .div_like-small-button:hover{
    background-color: #222222;
    color: white;
    fill: white;
  }
  .div_like-small-button.stroke_language_icon{ stroke:#222222; }
  .div_like-small-button.stroke_language_icon:hover{ stroke:white; }
  .div_like-small-button:active, .div_like-small-button:focus{
    outline: none;
    box-shadow: none;
  }
  .min-w-auto{
    min-width: auto;
  }
 /*  -------------------     SEARCH      ---------------------  */
  .box-search_ost{
    width: fit-content;
    height: fit-content;
    position: relative;
    margin-bottom: 0;
    display: flex;
  }
  .input-search_ost{
    height: 30px;
    width: 30px;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    transition: all .25s;
    background-color: transparent;
    color:#3A3A3A;
    border: none;
  }
  .input-search_ost::placeholder{
    color:rgba(255,255,255,.5);
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 100;
  }
  .btn-search_ost{
    outline: none;
    position: absolute;
    right: 0px;
    background-color:transparent;
    transition: all 0.25s;
    border: none;
  }
  .x-search_ost{
    outline: none;
    background-color:transparent;
    transition: all 0.25s;
    border: none;
    opacity: 0;
    display: none;
  }
  .search_focus .btn-search_ost ~ .input-search_ost{
    width: 300px;
    border-bottom: 1px solid #E4E4E4;
    margin-right: 30px;
  }
  .search_focus .x-search_ost{
    opacity: 1;
    display: inherit;
  }
  .input-search_ost:focus{
    border-bottom:1px solid #999999;
  }
 /*  -----------------      LEFT MENU    --------------------  */
 .column-left_ost{
    width:100%;
    padding: 20px 20px 20px 0;
    margin: 0;
 }
 .column-left_ost a{
    border: none;
    font-size: 14px;
    text-align: left;
    color: #222222;
    border-radius: 20px;
    margin-right: 20px;
}
.column-left_ost a.list-group-item:first-child, .column-left_ost a.list-group-item:last-child {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.column-left_ost a:hover{
    background-color: #efefef;
}
.column-left_ost a.active{
    border: none;
    border-radius: 20px;
    margin-right: 20px;
    color: #222222;
    background-color: #efefef;
}
.column-left_ost a.active:hover{
    background-color: #e4e4e4;
}

 /*  -------------------     CONTENT      ---------------------  */
  .content-cell {
    grid-area: content-cell;
    overflow: auto;  
    min-height: 800px;                              
  }
  .grid-container_ost{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 60px 30px;
  }
  .grid-container_ost:last-child{
    margin-bottom: 70px;
  }
  .module-heading_ost{
    padding: 70px 0 50px;
  }

  /*  -------------------     PRODUCT      ---------------------  */
  .product-thumb_ost{
    background-color: white;
    border-radius: 10px;
    transition: all 0.25s;
  }
  .product-thumb_ost:hover .image_part_inner{
    transform: scale(1.05);
  }
  .product-thumb_ost .image_part{
    margin: 0;
    padding: 0;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
  }
  .product-thumb_ost .image_part .image_part_inner{
    background-color: #cccccc;
    width: 100%;
    height: 0;
    padding-top:100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 0.25s;
  }
  .product-thumb_ost .title_part{
    font-size: 14px;
    width: 100%;
    height: 40px;
    color: #222222;
    margin-top:10px;
    display: flex;
    align-items: center;
  }
  .product-thumb_ost .bottom_part{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #222222;
    padding: 10px 0;
  }
  .product-thumb_ost .bottom_part_left .price-old_ost{
    font-size: 14px;
  }
  .product-thumb_ost .bottom_part_left .price-new_ost{
    font-size: 20px;
  }
  .product-thumb_ost .bottom_part_right{
    display: flex;
  }
  .product-thumb_ost .bottom_part_right .div_like-small-button{
    background: white;
    border: none;
    margin: 0 5px;
  }
  .product-thumb_ost .bottom_part_right .div_like-small-button:last-child{
    border: 1px solid #222222;
    width: 60px;
    margin-right: 0;
  }
  .product-thumb_ost .bottom_part_right .div_like-small-button:hover{
    background-color: #222222;
    color: white;
    border: none;
  }

  /* price */
  .price-old_ost{
    font-weight: 400;
    color: #999999;
    text-decoration: line-through;
    font-size: 18px;
  }
  .price-new_ost {
    font-weight: 700;
    color: #222222;
    font-size: 28px;
  }

  /* product heart button */
  .button_icon_heart{ 
    width: 48px;
    height: 48px;
    border: none;
    background-color: transparent;
    border-radius: 24px;
    transition: all 0.3s;
  }
  .button_icon_heart svg{
    width: 24px;
    height: 24px;
    fill: #222222;
  }
  .button_icon_heart:hover{
    background-color: #222222;
  }
  .button_icon_heart:hover svg{
    fill: white;
  }

 /* product buy button */
  .button_icon_buy{
    padding: 0 24px;
    height: 48px;
    border: none;
    border-radius: 24px;
    transition: all 0.3s;
    background-color: #222222;
  }
  .button_icon_buy span{
    color: white;
    padding-left: 12px;
  }
  .button_icon_buy svg{
    width: 24px;
    height: 24px;
    fill: white;
  }
  .button_icon_buy:hover{
    background-color: #666666;
  }
 
  /*  -------------------     FOOTER      ---------------------  */
  .footer-cell{
    grid-area: footer-cell;
    border-top: 1px solid #E4E4E4;
    background-color: white;

  }
  .footer-cell-inner{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer-cell-inner a{
    color: #222222; 
    font-size: 18px;
  }
  .footer-cell-inner a:hover{
    color: #3a3a3a;
    text-decoration: underline;
  }

  /*  --------------------  ALERT  -----------------------*/
  .alert_ost{
    max-width:600px; 
    color:#222222; 
    line-height:1.5;
    border-radius: 25px;
    display: flex;
    border: none;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,.3), 0px 1px 3px 1px rgba(0,0,0,.15);
    background-color: white;
  }
  .alert_ost div{
    height: 100%;
    margin-right: 10px;
  }
  .alert_ost svg{
    width:40px;
    height: 40px;
    stroke: #3a3a3a;
  }
  .alert_ost a{ color: #024574; }
  .alert_ost a:hover { color: #165e92; }

  .alert_ost .btn-close{
    width: auto;
    height: auto;
    opacity: 1;
  }
  /* --------------------  COMMON  ---------------------  */

  .segmented_buttons_ost{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width:fit-content;
  }
  .segmented_buttons_ost button{
    border: 1px solid #efefef;
    color: #222222;
    fill: #222222;
    stroke:none;
    background-color: white;
    border-radius: 0;
    margin:0;
    height:30px;
    cursor: pointer;
  }
  .segmented_buttons_ost button.svg_stroke svg {
    stroke:#222222;
  }
  .segmented_buttons_ost button:first-child{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  .segmented_buttons_ost button:last-child{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .segmented_buttons_ost button.active{
    background-color: #efefef;
    color: #222222;
    fill: #222222;
  }
  .segmented_buttons_ost button:hover{
    background-color: #222222;
    color: white;
    fill: white;
  }
  .segmented_buttons_ost button.svg_stroke:hover svg{ stroke:white; }

  .input-group-text_ost{
    display: flex;
    align-items: center;
    padding: 0.35rem 0.75rem;
    font-size:14px;
    color: #999999;
  }
  .input-group > .form-control_ost, .input-group > .form-select_ost {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
}
  .form-select_ost{
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><path fill='none' stroke='#3A3A3A' stroke-linecap='round' stroke-linejoin='round' stroke-width='1' d='M2 5l6 6 6-6'/></svg>");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    border: none;
    font-size: 14px;
    font-weight: 400;
    border-bottom: 1px solid #E4E4E4;
  }
  .form-select_ost:active, .form-select_ost:focus{
    outline: none;
    box-shadow: none;
  }

/* --------------------  SHORTS  ---------------------  */
.w50 { width:50px; }
.w100 { width:100px; }
.w200 { width:200px; }
.w300 { width:300px; }
.wContent { width: fit-content; }
.mt-80 { margin-top:80px; }
.mb-80 { margin-bottom:80px; }
.lh-13 { line-height: 1.3; }
.lh-20 { line-height: 2.0; }
.text14 { font-size:14px; }

